<header>
    <ul>
        <li><a href="/animals/">Home</a></li>
        <li><a href="/animals/new">Create New Animal</a></li>
        <li><a href="/user/logout">Logout</a></li>
    </ul>
    
    <h1><%= title %></h1>
</header>