* {
    background-color: cornsilk;
    text-align: center;
}

header {
    margin-top: 3rem;
    color: #9b4dca;
}

fieldset {
    border-width: 5px;
    border-color: #9b4dca;
    margin: 5% 32% 5% 32%;
}
label {
    text-align: left;
    padding-left: 2rem;
}

input {
    text-align: left;
}

ul {
    text-align: left;
}

li {
    list-style-type: none;
    padding: 0 1rem 0 2rem;
    display: inline;
}